@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-popup .leaflet-popup-content-wrapper {
    border-radius: 0.5rem;
} 


.custom-popup .leaflet-popup-tip-container {
    visibility: hidden;
}

.custom-popup .leaflet-popup-content {
    margin: 0;
    padding: 0;
}

.leaflet-container a {
    color: white;
}

.leaflet-container a.leaflet-popup-close-button{
    color: white;
    width: 0px;
}

.leaflet-container a.leaflet-popup-close-button:hover{
    color: gray;
}

.leaflet-touch .leaflet-control-zoom-in, 
.leaflet-touch, .leaflet-control-zoom-out{
    color: darkgray;
}
